.dynamic_clock {
    /*display: flex;*/
    /*min-width: 500px;*/
    font-size: 72px;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.dynamic_clock span {
    margin-right: 15px;
}